@charset "UTF-8";
@font-face {
    font-family: 'Idroid';
    src: url(../pacote-projeto-d010/fontes/idroid.otf);
}
@font-face {
    font-family: 'Bebas Neue';
    src: url(../pacote-projeto-d010/fontes/bebas_neue/BebasNeue-Regular.otf) format(opentype);
}
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android:'Idroid', cursive;
}


body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor0);
    margin: 0px;

}

/*Cabeçalho*/

header {
    height: 180px;
    background-image: linear-gradient(to top, var(--cor5), var(--cor2));
    color: white;
    padding: 10px 0px 10px;
    margin: 0px 0px;
}

header h1 {
    font-family: var(--fonte-destaque) ,Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}

main h1, main h2 {
    font-weight: normal;
}

header p {
    text-align: center;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    
}
header p {
    font-size: 1.2em;
}

.menu {
    padding: 14px;
    background-color: var(--cor5);
    box-shadow: 0px 18px 12px -15px black;

}

.linkcab, .linkcab:visited{
    
    padding: 10px;
    color: #99ddb8;
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    transition-duration: 0.5s;
}

.linkcab:hover {
    border-radius: 5px;
    background-color:#2BA35D;
    color: #005518;
}

/*Conteúdo Principal*/

main {
    min-height: 300px;
    max-width: 800px;
    background-color: white;
    margin: 0px auto;
    padding: 20px;
}

main p {
    text-indent: 20px;
    font-size: 18px;
    line-height: 2em;
}

main h1 {
    font-family: var(--fonte-android);
    color: var(--cor4);
}

main h2 {
    margin-top: 0px;
    font-family: var(--fonte-android), Arial, Helvetica, sans-serif;
    color: #2C6847;
    background-image: linear-gradient(to right, #84e1acde, #84e1ac00);
    padding:3px 10px;
}

main > article a{
    padding: 3px 6px;
    border-radius: 3px;
    background-color: var(--cor1);
    font-weight: bold;
    color: var(--cor5);
    text-decoration: none;
}
main a, main a:visited {
    text-decoration: none;
    color:  #178d4c;
}
main a:hover {
    text-decoration: underline;
}



.linkdest::after {
    content: '🔗';
}

strong {
    color: #1a693e;
}
img, iframe {
    width: 100%;
    display: block;
    margin: auto;
}

.pequena {
    max-width: 350px;
}

.video {
    padding: 20px 96px;
    background-color: #1A5C38;
    margin: 0px -20px;
}

aside{
    background-color: #C5EBD6;
    margin-top: 20px;
    border-radius: 20px;
}

aside > h3 {
    font-size: 20px;
    background-color: #2FA866;
    padding: 15px 17px;
    color: white;
    border-radius: 20px 20px 0px 0px;
}

aside ul{
    list-style-type: '\2714';
    margin-right: 180px;
    columns: 2;
}

.extrainfo {
    padding: 10px;

}

/*Rodapé*/

footer{
    height: 40px;
    background-color: #1A5C38;
    color: white;
    text-align: center;
    padding-top: 20px;
}

footer > p > a, footer > p > a:visited {
    color: white;
    text-decoration: underline;
}

footer > p {
    margin: 0px;
}